<h1><%=  link_to "Unanswered Riddles", unanswered_path %></h1>
<% @uns_riddles.each do |r| %>
<div>
  <%= link_to "#{r.title}", riddle_path(r) %>
   | <%= r.vote_count %> upvotes
</div>
<% end %>

<br>

<h1> <%=  link_to "Answered Riddle", answered_path%></h1>
<% @ans_riddles.each do |r| %>
<div>
  <%= link_to "#{r.title}", riddle_path(r) %>
   | <%= r.vote_count %> upvotes
</div>
<% end %>