<div class="landing-page-img">
  <%= image_tag 'lightbulb.png', class: 'logo-img' %>
  <div class="tagline">A riddle & answer site for the curious.</div>
</div>

<div class="container">
  <div class="title"><%=  link_to "Unanswered Riddles", unanswered_path %></div>
  <% @uns_riddles.each do |r| %>
  <div class="riddle-link">
    <%= link_to "#{r.title}", riddle_path(r) %>
      <span class="upvotes_comments"><%= r.vote_count %> upvotes &
      <%= r.comments.count %> comments</span>
  </div>
  <% end %>

  <br>

  <div class="title"> <%=  link_to "Answered Riddles", answered_path%></div>
  <% @ans_riddles.each do |r| %>
  <div class="riddle-link">
    <%= link_to "#{r.title}", riddle_path(r) %>
      <span class="upvotes_comments"><%= r.vote_count %> upvotes &
      <%= r.comments.count %> comments</span>
  </div>
  <% end %>
</div>